 body {
    text-align: center; 
    background-color: aliceblue;

}

form {
    display: inline-block;
}

.App {
    background: aliceblue;
    /* background:#28a745; */
     height: 100vh;
    min-height : 100vh;

    

}

#congrats-messaging {
    text-align: center;
}

