 /* body {
    text-align: center;
    
    
}
form {
    display: inline-block;
}

#congrats-messaging {
    text-align: center;
}

#root {
background: aliceblue;
}
.App {
background: aliceblue;
} */