 body {
    text-align: center; 
    background-color: #e5dfdf;

}

form {
    display: inline-block;
}

.App {
    background: #e5dfdf;
    /* background:#28a745; */
     height: 100vh;
    min-height : 100vh;
}

@media print {
  #printPageButton {
    display: none;
  }
}

#congrats-messaging {
    text-align: center;
}

